<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzsLJt2QqA_m3VkQx5mRg-OGQQkfdtR_w</string>
	<key>GCM_SENDER_ID</key>
	<string>832317565221</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>claudeHustler.ClaudeHustlerFirebase</string>
	<key>PROJECT_ID</key>
	<string>hustlernew-968dd</string>
	<key>STORAGE_BUCKET</key>
	<string>hustlernew-968dd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:832317565221:ios:cbeee2fdba3ae7d614d2cc</string>
</dict>
</plist>